@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.v-application a {
  text-decoration: none;
}

.v-application a:not(.router-link-exact-active),
.main-title {
  color: hsl(45, 100%, 50%) !important;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(45, 100%, 50%, 0.2);
  }
}
